<header class="main-header">
    <div class="row">
      <h1>Help Eléos build
        <span>a Shared Space</span>
      </h1>
      <p class="description">Partner with us in our vision to to restore a former warehouse in the Nicholtown neighborhood to be used for tutoring and classes throughout the week, for the benefit of our students and the whole neighborhood. We want to equip our students along with members of our community to be successful in whatever their next step is, and we need your help to do it!</p>
      <div class="video-container-container">
      <div class="video-container">
        <!--<iframe src="https://www.youtube.com/embed/Exc6otteNoQ" frameborder="0" allowfullscreen></iframe>-->
        <iframe src="https://player.vimeo.com/video/220350204" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      </div>
    </div>
  </header>


  <h2 class="donate-header">DONATE   TODAY</h2>

  <div class="bigbox">
    <% @donations.each do |donation| %>
      <% if donation.paid? %>
      <div class="giftbox complete material-icons"><span class="vertical-aligned">check</span></div>
      <!-- $<%= donation.amount %>.00 -->
      <% else %>
      <div class="giftbox">
        <div class="vertical-aligned">
          <form action="/charge" method="post">
            <button type="submit" class="donation-button" style="visibility: visible;" data-amount="<%= donation.amount*100 %>" data-id="<%= donation.id %>">$<%= donation.amount %></button>
          </form>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


  <div class="container">
    <div class="row footer">
      <div class="col-md-6">
        <p>To learn more about <a href="http://eleosministry.com">Eleos Ministry</a>, you can visit our website at <a href="http://eleosministry.com">eleosministry.com</a> or on <a href="http://www.facebook.com/Eleosministry">facebook</a>.</p>
        <p>Eleos is a program of <a href="http://goattrips.org">GOAT</a>, a 501(c)3 organization. All donations are tax deductible.</p>
        <p>All donations are processed securely by <a href="http://stripe.com">Stripe</a>.</p>
      </div>
    </div>
  </div>

  <script>
    $('.giftbox').on('click', 'button', function(e) {
      e.preventDefault();
      $this = $(this);

      var handler = StripeCheckout.configure({
        key: '<%= settings.publishable_key %>',
        name: "Eleos Ministry",
        image: 'img/160x160.jpg',
        allowRememberMe: 'false',
        billingAddress: 'true',
        amount: $this.data('amount'),
        closed: function() {
        },
        token: function(token) {
          $.post( "/charge", {
            token_id: token.id,
            donation_id: $this.data('id'),
            email: token.email
          }).done(function() {
            window.location.href = "/thanks";
          }).fail(function() {
            alert( "Sorry! There was an error processing your donation." );
          });
        }
      });

      handler.open();
    });
  </script>
